body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	margin: 60px auto;
    width: 85%;
	max-width: 800px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.4em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
	line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
	padding: 0;
}

ul.posts li {
    list-style: none;
	margin-bottom: 0.4em;
}

details {
	margin-bottom: 20px;
}

details > summary {
	padding: 4px;
	width: 200px;
	border: none;
	/*box-shadow: 1px 1px 2px #bbbbbb;*/
	cursor: pointer;
	font-size: 1.4em;
}

details > summary.hint {
	color: #ffffff;
	background-color: #f4a261;
}

details[open] > summary.hint {
	background-color: #e76f51;
}

details > summary.solution {
	color: #ffffff;
	background-color: #2a9d8f;
}

details[open] > summary.solution {
	background-color: #264653;
}

details > p {
	background-color: #eeeeee;
	padding: 8px 12px;
	margin: 0;
	/*border-radius: 0px 10px 10px 10px;*/
	/*box-shadow: 1px 1px 2px #bbbbbb;*/
}

img {
  max-width: 100%;
  display: block;
}
