html {
	background-image: url('/puzzlecorner/images/PuzzleCornerBG2.png');
	background-position: top;
}

body {
    font-family:'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 0.2em;
	margin: 60px auto;
    width: 80%;
	max-width: 700px;
	max-height: 999999px;
	background-color: #ffffff;
	box-shadow: 0px 2px 12px 0px #555;
    padding: 10px 5% 20px 5%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
	font-family:'Cormorant Infant', 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: normal;
	color: #3b4334;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
p {
	line-height: 1.5em;
    color: #505050;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

.sizefix {
	font-size: 1em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
	padding: 0;
}

ul.posts li {
    list-style: none;
	margin-bottom: 0.4em;
}

details {
	margin-bottom: 20px;
}

details > summary {
	padding: 4px;
	width: 200px;
	border: none;
	/*box-shadow: 1px 1px 2px #bbbbbb;*/
	cursor: pointer;
	font-size: 1.4em;
}

details > summary.hint {
	color: #ffffff;
	background-color: #ea796d;
}

details[open] > summary.hint {
	background-color: #d06254;
}

details > summary.solution {
	color: #ffffff;
	background-color: #3a9aae;
}

details[open] > summary.solution {
	background-color: #28869a;
}

details > p {
	background-color: #eeeeee;
	padding: 8px 12px;
	margin: 0;
	/*border-radius: 0px 10px 10px 10px;*/
	/*box-shadow: 1px 1px 2px #bbbbbb;*/
}

img {
  max-width: 100%;
  display: block;
}
